<body>
	<div class="canceled-container">
		<h1 class="cancel">Sure?</h1>
		<p class="below">Still Need Proxies?</p>

		<div class="button-wrapper">
				<a href="/order" class="yes-button">YES!</a>
				<a href="/" class="no-button">No</a>
		</div>
</body>
