<body>
	<div class="container">
			<h1 class="cancel">Sure?</h1>
			<p class="below">Still Need Proxies?</p>
	</div>
	<div class="cancel-behavior">
		<a href="/" id="cancel-behavior-no-link" role="button">No</a>
		<a href="/order" id="cancel-behavior-yes-link" role="button">Yes</a>        
	</div>
</body>
