<body>
	<div class="success-container">
			<h1 class="success">Success!</h1>
			<p class="below">Check your email shortly for your package!</p>

			<div class="button-wrapper">
				<a href="/order" class="order-more-button">Order more!</a>
			</div>
	</div>
</body>
