#text {
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

.navbar {
	background-color: #FA9247;
	height: 100px;
}

body {
	background-color: #ffffff;
}


.col-md-4 {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: -10px;
	padding-bottom: 100px;
	
	padding-left: 100px;
}

.thumbnail {
	border-radius: 0%;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 150px;
	padding-bottom: 100px;
	padding-right: 150px;
	padding-left: 150px;
}

.item-footer footer {
	background-color: #FA9247;
	color: white;
	position: absolute;
	margin-left: -150px;
	margin-top: 52px;
	height: 8.4%;
	width: 77%;
}

.item-footer-content .btn {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	color: white;
	border-radius: 0%;
	margin-top: 8px;
	margin-right: 5px;
	width: 80px;
}

.item-footer-content .package {
	font-weight: bold;
	font-size: 16px;
	margin-left: 13px;
	margin-top: 13px;
}

footer p {
	text-align: center;
}

