#text {
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

.navbar {
	background-color: #FA9247;
	height: 100px;
}

body {
	background-color: #ffffff;
}

.thumbnail {
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.thumbnail .description {
	text-align: center;
	color: #7f7f7f;
}

.thumbnail .caption {
	text-align: center;
}

.price {
	font-weight: bold;
	font-size: 16px;
}

footer p {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

