.title {
	text-align: center;
}

#text {
	margin-top: 20px;
	color: white;
	font-size: 20px;
}

.navbar {
	background-color: #FA9247;
	height: 100px;
}

body {
	background-color: #ffffff;
}

#wrapper{
	width:100%;
    height:100%;    
    margin-bottom: 100px;
}

.box-wrap {
    width:100%;
    height:100%;    
    margin-bottom: 10px;
}
#box {
    height: 100%;
    margin:0;
    border:thin solid #FA9247;    
    overflow:auto;
}

#box-image{
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	margin-bottom: -272px;
}

#content {
    background-color: white;  
    padding-bottom: 300px;
}

#box-footer{
    bottom: 0px;
    left:0px;
    right:0px;
    height:50px;
    background-color: #FA9247;
    color:#fff;
}

#box-footer p {
	padding-top: 15px;
	padding-left: 10px;
}

#box-footer-link {
	text-decoration: none;
	background-color: none;
	color: white;
	border: thin solid white;
	border-radius: 0;
	margin-top: 8px;
	margin-right: 5px;
	
}

#box-footer-link:hover {
	text-decoration: none;
	background-color: white;
	color: #FA9247;
	border: thin solid white;
	border-radius: 0;
	margin-top: 8px;
	margin-right: 5px;
	
}

footer {
	height: 10px;
	position: relative;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

footer p {
	text-align: center;
}

.Buy {
	text-align: center;
	border-radius: 0;
	border: thin solid #FA9247;
	background-color: #FA9247;
	color: white;
	margin-bottom: 20px; 
}

.below {
	text-align: center;
	margin-bottom: 20px;
}

/*CHECK*/
.btn-center form {
	width: 50%; 
	margin: 0 auto;
}
.success {
	text-align: center;
	border-radius: 0;
	border: thin solid #00ff00;
	background-color: #00ff00 ;
	color: white;
	margin-bottom: 20px; 
}

.cancel {
	text-align: center;
	border-radius: 0;
	border: thin solid #FF0000;
	background-color: #FF0000;
	color: white;
	margin-bottom: 20px; 
}

/*CHECK*/
.cancel-behavior {
	height: 100%;
	width: 100%;
	margin-bottom: 700px;
}

/*CHECK*/
#cancel-behavior-no-link, #cancel-behavior-yes-link {
	text-decoration: none;
	background-color: none;
	color: white;
	border: thin solid white;
	border-radius: 0;
}

/*CHECK*/
#cancel-behavior-no-link:hover, #cancel-behavior-yes-link:hover {
	text-decoration: none;
	background-color: white;
	color: #FA9247;
	border: thin solid white;
	border-radius: 0;
	margin-top: 8px;
	margin-right: 5px;
}


