<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="Img">
                <h3>5</h3>
                <div class="item-footer">
                    <footer>
                        <div class="item-footer-content">
                            <div class="package pull-left">5 Proxy Package</div>
                            <a href="/buy5" class="btn pull-right" role="button">Buy</a>
                        <div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
     <div class="col-md-4">
        <div class="thumbnail">
            <div class="content">
                <h3>10</h3>
                <div class="item-footer">
                    <footer>
                        <div class="item-footer-content">
                            <div class="package pull-left">10 Proxy Package</div>
                            <a href="/buy10" class="btn pull-right" role="button">Buy</a>
                        <div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-4">
        <div class="thumbnail">
            <div class="Img">
                <h3>20</h3>
                <div class="item-footer">
                    <footer>
                        <div class="item-footer-content">
                            <div class="package pull-left">20 Proxy Package</div>
                            <a href="/buy20" class="btn pull-right" role="button">Buy</a>
                        <div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="Img">
                <h3>25</h3>
                <div class="item-footer">
                    <footer>
                        <div class="item-footer-content">
                            <div class="package pull-left">25 Proxy Package</div>
                            <a href="/buy25" class="btn pull-right" role="button">Buy</a>
                        <div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
     <div class="col-md-4">
        <div class="thumbnail">
            <div class="content">
                <h3>50</h3>
                <div class="item-footer">
                    <footer>
                        <div class="item-footer-content">
                            <div class="package pull-left">50 Proxy Package</div>
                            <a href="/buy50" class="btn pull-right" role="button">Buy</a>
                        <div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-4">
        <div class="thumbnail">
            <div class="Img">
                <h3>100</h3>
                <div class="item-footer">
                    <footer>
                        <div class="item-footer-content">
                            <div class="package pull-left">100 Proxy Package</div>
                            <a href="/buy100" class="btn pull-right" role="button">Buy</a>
                        <div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>

