<div class="title">
    <h1 style="font-size: 55px;">Packages</h1>
</div>
<br>
<div class="row">
     <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       <a href="/order"><img src="images/box.png" id="box-image"></a>
                    </div>
                <div id="box-footer">
                    <p class="pull-left">5 Proxies</p>
                    <a href="/order" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       <a href="/order"><img src="images/box.png" id="box-image"></a>
                    </div>
                <div id="box-footer">
                    <p class="pull-left">25 Proxies</p>
                    <a href="/order" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       <a href="/order"><img src="images/box.png" id="box-image"></a>
                    </div>
                <div id="box-footer">
                    <p class="pull-left">50 Proxies</p>
                    <a href="/order" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                      <a href="/order"><img src="images/box.png" id="box-image"></a>
                    </div>
                <div id="box-footer">
                    <p class="pull-left">100 Proxies</p>
                    <a href="/order" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       <a href="/order"><img src="images/box.png" id="box-image"></a>
                    </div>
                <div id="box-footer">
                    <p class="pull-left">200 Proxies</p>
                    <a href="/order" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                      <a href="/order"><img src="images/box.png" id="box-image"></a>
                    </div>
                <div id="box-footer">
                    <p class="pull-left">300 Proxies</p>
                    <a href="/order" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

