<div class="title">
    <h1>Packages</h1>
</div>
<br>
<div class="row">
     <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       5
                    </div>
                <div id="box-footer">
                    <p class="pull-left">$5 Package</p>
                    <a href="/buy5" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       10
                    </div>
                <div id="box-footer">
                    <p class="pull-left">$10 Package</p>
                    <a href="/buy10" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       20
                    </div>
                <div id="box-footer">
                    <p class="pull-left">$20 Package</p>
                    <a href="/buy20" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       25
                    </div>
                <div id="box-footer">
                    <p class="pull-left">$25 Package</p>
                    <a href="/buy25" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       50
                    </div>
                <div id="box-footer">
                    <p class="pull-left">$50 Package</p>
                    <a href="/buy50" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="wrapper">
            <div class="box-wrap">
            <div id="box">
                    <div id="content">
                       100
                    </div>
                <div id="box-footer">
                    <p class="pull-left">$100 Package</p>
                    <a href="/buy100" class="btn pull-right" id="box-footer-link" role="button">Buy</a>           
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

