<html>
<body>
	<div class="container">
			<h1 class="Buy">Buy</h1>
			<p class="below">Click Below to Order 5 Proxies</p>
	</div>
	<div class="container">
		<span id="'payment">Pay</span>
	</div>
</body>
</html>